html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  font-weight: var(--font-normal);
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited,
a:active {
  color: inherit;
}

img {
  display: block;
  height: auto;
}